#hud{

position:absolute;

bottom:30px;

left:30px;

z-index:5;

font-size:30px;

display:flex;

gap:40px;

}

#loadingScreen{

position:absolute;

width:100%;

height:100%;

background:black;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

z-index:100;

}

#loadingBar{

width:400px;

height:10px;

background:#333;

margin-top:20px;

}

#loadingProgress{

width:0%;

height:100%;

background:#00ccff;

}
